In [170]:
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.preprocessing import LabelEncoder

In [5]:
data= pd.read_csv('child_data.csv')
print('The Shape of the data is :',data.shape)
data.head(2)

The Shape of the data is : (39, 7)

,Unnamed: 0,name,Birth Month,Birth Year,Day,Height,Remarks
0,1,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand
1,2,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand

In [6]:
data=data.iloc[:,1:]
data.head(2)

,name,Birth Month,Birth Year,Day,Height,Remarks
0,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand
1,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand

In [7]:
x= data.iloc[0:,1:4]
x.head(2)

   Birth Month  Birth Year          Day
0            5          88   1st Monday
1           10          87  3rd Tuesday

In [32]:
y = data.iloc[:,4]
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
no_punct = ""
for char in y:
   if char not in punctuations:
    no_punct = no_punct + char

# display the unpunctuated string
# print(no_punct)

In [42]:
no_punct

"2'0''2'1''2'0''2'1''2'1''2'1''2'2''1'11''1'11''1'10''2'3''2'0''2'2''2'3''2'2''1'11''2'0''2'0''2'2''2'1''2'0''2'0''2'0''2'0''2'0''2'3''2'2''2'1''2'0''1'11''2'0''1'10''2'0''1'11''2'0''1'10''2'2''1'9''2'0''"

In [48]:
l = []
for letter in no_punct:
    try:
        l.append(float(letter))
    except:
        continue
l[0:10]

[2.0, 0.0, 2.0, 1.0, 2.0, 0.0, 2.0, 1.0, 2.0, 1.0]

In [68]:
feet=[]
inches=[]
count=0
for count,i in enumerate(l):
    if count%2==0:
        feet.append(i)
    if count%2==1:
        inches.append(i)
    count=count+1

In [69]:
feet[0:10]

[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0]

## Height in cm

In [85]:
h=[]
for i in range(0,39):
    h.append(feet[i]*30+inches[i]*2.5)

In [86]:
h[0:10]

[60.0, 62.5, 60.0, 62.5, 62.5, 62.5, 65.0, 32.5, 32.5, 32.5]

In [88]:
x.head(2)

   Birth Month  Birth Year          Day
0            5          88   1st Monday
1           10          87  3rd Tuesday

In [91]:
from datetime import date
import calendar

In [92]:
for day in calendar.day_name:
    print(d)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [95]:
a=data.Remarks

In [97]:
a.head(2)

0    Boy  with Left biggerfoot and Right dominant hand
1     Boy  with Left biggerfoot and Left dominant hand
Name: Remarks, dtype: object

In [106]:
a[0]

'Boy  with Left biggerfoot and Right dominant hand'

## Gender

In [110]:
gender=[]
gender.append(a.str.split('\s+').str[0])

## Dominant hand and leg

In [112]:
dominant_leg=[]
dominant_hand=[]
dominant_hand.append(a.str.split('\s+').str[5])
dominant_leg.append(a.str.split('\s+').str[2])

## Birthdate Calculation

In [114]:
data.head(3)

,name,Birth Month,Birth Year,Day,Height,Remarks
0,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand
1,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand
2,Zach,12,87,2nd Saturday,2'0'',Boy with Right biggerfoot and Right dominant ...

In [117]:
Counter(data['Birth Year'])

Counter({88: 32, 87: 7})

In [147]:
calendar.isleap(1988)

True

### Assuming the year of 1900s and 1988 is a leap year

In [150]:
years=[1988,1987]
months=[]
for i in range(1,13):
    months.append(i)
months

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [151]:
weeks=[1,2,3,4]

In [143]:
exp_1=calendar.month(years[0],months[4])

In [144]:
print(exp_1)

      May 1988
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [178]:
pos_week=x.Day.str.split().str[0]
week_day=x.Day.str.split().str[1]
pos_week

0     1st
1     3rd
2     2nd
3     1st
4     1st
5     1st
6     1st
7     4th
8     2nd
9     2nd
10    4th
11    3rd
12    1st
13    3rd
14    3rd
15    3rd
16    2nd
17    2nd
18    4th
19    2nd
20    3rd
21    2nd
22    1st
23    1st
24    4th
25    4th
26    4th
27    3rd
28    3rd
29    3rd
30    4th
31    3rd
32    2nd
33    4th
34    2nd
35    1st
36    1st
37    2nd
38    4th
Name: Day, dtype: object

In [182]:
le=LabelEncoder()
pos_week=le.fit_transform(pos_week)

In [185]:
pos_week.

numpy.ndarray